<form id="form-login" role="form">
  <div class="col-md-4 col-sm-4">
      <div class="form-group">
        <label for="email" class="">Email</label>
        <input ng-model="usuario.email" type="text" class="form-control" id=email placeholder="Introduzca el email" required>
      </div>
      <div class="form-group">
        <label for="clave" class="">Clave</label>
        <input ng-model="usuario.clave" type="password" class="form-control" id=clave placeholder="Introduzca la clave" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin" ng-click="loginUsuario(usuario)">Acceder</button>
      </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="form-group">
      <a class="btn btn-block btn-social btn-facebook" >
        <span class="fa fa-facebook"></span> Entrar con Facebook
      </a>
      <a class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span> Entrar con Google
      </a>
      <a class="btn btn-block btn-social btn-github" ng-click="loginConGitHub(usuario)">
        <span class="fa fa-github"></span> Entrar con GitHub
      </a>
    </div>
  </div>
  </div>
  </form>